@import "common/variable.scss";

.nav_list {
	position: fixed;
	z-index: 1000;
	width: 100%;
	left: 0;
	top: 0;

	padding-left: 48px;

	li {
		padding: 14px;
		font-size: 14px;
		float: left;
		margin-right: 2em;

		a {
			color: blue;
		}
	}
}
